.App {
  font-family: sans-serif;
  text-align: center;
}

.otp-input {
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 40px;
}
